/* This stylesheet is used to style the public view of the plugin. */

@import normalize.css;

#cbbi-console {
	position: absolute;
	top: 11px;
	left: 11px;
	background: rgba(100,100,100,.76);
/*	height: 80px;*/
	width: 350px;
	border: 1px solid rgba(0,0,0,.8);
	color: #fff;
	padding: 12px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	z-index: 10000;
	
	h3 {
		font-family: Arial, Helvetica, sans-serif !important;
		font-size: 14px;
		color: #fff !important;
		letter-spacing: 1px;
	}
	
	p {
		margin: 0;
		padding: 0;
		color: #fff !important;
	}

	td {
		color: #fff !important;
		border: none;
		
		p, strong {
			color: #fff !important;
		}
	}

	th {
		word-wrap: break-word;
		text-align: center;
		vertical-align: bottom;
		padding: 4px;
		border: none;
		background: none;
		text-transform: none;
		font-size: 11px;
	}

	table > * > * > *:nth-child(1),
	table > * > * > *:nth-child(2),
	table > * > * > *:nth-child(3),
	table > * > * > *:nth-child(4) {
		width: 25px !important;
		text-align: center;
	}
	
}
