#cbbi-console article,
#cbbi-console aside,
#cbbi-console details,
#cbbi-console figcaption,
#cbbi-console figure,
#cbbi-console footer,
#cbbi-console header,
#cbbi-console hgroup,
#cbbi-console main,
#cbbi-console nav,
#cbbi-console section,
#cbbi-console summary {
  display: block !important;
}
#cbbi-console audio,
#cbbi-console canvas,
#cbbi-console video {
  display: inline-block !important;
}
#cbbi-console audio:not([controls]) {
  display: none !important;
  height: 0 !important;
}
#cbbi-console [hidden] {
  display: none !important;
}
#cbbi-console html {
  background: #fff !important;
  color: #000 !important;
  font-family: sans-serif !important;
  -ms-text-size-adjust: 100% !important;
  -webkit-text-size-adjust: 100% !important;
}
#cbbi-console body {
  margin: 0 !important;
}
#cbbi-console a:focus {
  outline: thin dotted !important;
}
#cbbi-console a:active,
#cbbi-console a:hover {
  outline: 0 !important;
}
#cbbi-console h1 {
  font-size: 2em !important;
  margin: 0.67em 0 !important;
}
#cbbi-console abbr[title] {
  border-bottom: 1px dotted !important;
}
#cbbi-console b,
#cbbi-console strong {
  font-weight: bold !important;
}
#cbbi-console dfn {
  font-style: italic !important;
}
#cbbi-console hr {
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important;
  height: 0 !important;
}
#cbbi-console mark {
  background: #ff0 !important;
  color: #000 !important;
}
#cbbi-console code,
#cbbi-console kbd,
#cbbi-console pre,
#cbbi-console samp {
  font-family: monospace, serif !important;
  font-size: 1em !important;
}
#cbbi-console pre {
  white-space: pre-wrap !important;
}
#cbbi-console q {
  quotes: "\201C" "\201D" "\2018" "\2019" !important;
}
#cbbi-console small {
  font-size: 80% !important;
}
#cbbi-console sub,
#cbbi-console sup {
  font-size: 75% !important;
  line-height: 0 !important;
  position: relative !important;
  vertical-align: baseline !important;
}
#cbbi-console sup {
  top: -0.5em !important;
}
#cbbi-console sub {
  bottom: -0.25em !important;
}
#cbbi-console img {
  border: 0 !important;
}
#cbbi-console svg:not(:root) {
  overflow: hidden !important;
}
#cbbi-console figure {
  margin: 0 !important;
}
#cbbi-console fieldset {
  border: 1px solid #c0c0c0 !important;
  margin: 0 2px !important;
  padding: 0.35em 0.625em 0.75em !important;
}
#cbbi-console legend {
  border: 0 !important;
  padding: 0 !important;
}
#cbbi-console button,
#cbbi-console input,
#cbbi-console select,
#cbbi-console textarea {
  font-family: inherit !important;
  font-size: 100% !important;
  margin: 0 !important;
}
#cbbi-console button,
#cbbi-console input {
  line-height: normal !important;
}
#cbbi-console button,
#cbbi-console select {
  text-transform: none !important;
}
#cbbi-console button,
#cbbi-console html input[type="button"],
#cbbi-console input[type="reset"],
#cbbi-console input[type="submit"] {
  -webkit-appearance: button !important;
  cursor: pointer !important;
}
#cbbi-console button[disabled],
#cbbi-console html input[disabled] {
  cursor: default !important;
}
#cbbi-console input[type="checkbox"],
#cbbi-console input[type="radio"] {
  box-sizing: border-box !important;
  padding: 0 !important;
}
#cbbi-console input[type="search"] {
  -webkit-appearance: textfield !important;
  -moz-box-sizing: content-box !important;
  -webkit-box-sizing: content-box !important;
  box-sizing: content-box !important;
}
#cbbi-console input[type="search"]::-webkit-search-cancel-button,
#cbbi-console input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none !important;
}
#cbbi-console button::-moz-focus-inner,
#cbbi-console input::-moz-focus-inner {
  border: 0 !important;
  padding: 0 !important;
}
#cbbi-console textarea {
  overflow: auto !important;
  vertical-align: top !important;
}
#cbbi-console table {
  border-collapse: collapse !important;
  border-spacing: 0 !important;
}
#cbbi-console {
  position: absolute;
  top: 11px;
  left: 11px;
  background: rgba(100,100,100,0.76);
  width: 350px;
  border: 1px solid rgba(0,0,0,0.8);
  color: #fff;
  padding: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  z-index: 10000;
}
#cbbi-console p {
  margin: .6em 0;
  color: #fff !important;
}
#cbbi-console td {
  color: #fff !important;
  border: none;
}
#cbbi-console th {
  word-wrap: break-word;
  text-align: center;
  vertical-align: bottom;
  padding: 4px;
  border: none;
  background: none;
  text-transform: none;
  font-size: 11px;
}
#cbbi-console table > * > * > *:nth-child(1),
#cbbi-console table > * > * > *:nth-child(2),
#cbbi-console table > * > * > *:nth-child(3),
#cbbi-console table > * > * > *:nth-child(4) {
  width: 25px !important;
  text-align: center;
}
